fastapi
uvicorn
gunicorn
jinja2
python-multipart
openai
requests
azure-core
azure-cosmos
certifi
chardet
charset-normalizer
click
colorama
distlib
filelock
idna
platformdirs
pur
requests
six
typing_extensions
urllib3
virtualenv
virtualenv-clone
torch
transformers
sentiment